fullname: "John Doe"
email: john@doe.com
user: me
group: me

rc_file: /home/me/.zshrc

zsh:
  plugins:
    - git
    - ssh-agent

autostart:
  - apps: []
#    - name: 
#      display_name: 
#      exec: 

xfce4:
  theme: "Numix"
  style: "Numix"

browser:
  default_search_engine: DuckDuckGo
  homepage: ""
  local_domains: []
#    - foo.local
#    - bar.intranet

mounts:
  autofs: []
#    - name: share
#      target: "://192.168.1.1/share"
#      opts: "fstype=cifs..."
  fstab: []
#    - name: name
#      target: /mnt/point
#      fstype: fs
#      opts: _netdev,exec

evolution:
  backup_dir: ~/backups/

file_browser:
  bookmarks: []
    # - name: foo
    #   path: file:///foo

git:
  github_accounts: []
#    - username: github_username
#      host: github.com  # host alias used in ~/.ssh/config
#      token: "..."
#      key_title: "me@{{ grains['host'] }}"
  repositories: []
#    - url: "git@github.com:foo/bar.git"
#      target: /home/user/bar

docker:
  registries:
    - name: "https://index.docker.io/v1/"
      auth: "" # echo -n 'username:password' | base64
  registry_mirrors: []

maven:
  master_password: ...
  servers: []
#    - id:
#    - username:
#    - password:
  registry_mirrors: []
#    - id:
#      name:
#      url:
#      mirror_of:

intellij:
  version: # Leave empty to skip intellij
  build: 
  plugins: []
#    - name: 
#      url: 

aws:
  default_region: eu-west-1
  profiles:
    - name: default
      aws_access_key_id: ""
      aws_secret_access_key: ""

certificates:
  path: ""

latex:
  # mirror multiplexor at https://mirror.ctan.org/
  mirror: http://mirrors.rit.edu/CTAN/systems/texlive/tlnet
  version: 2022
  installation_dir: ~/apps/texlive
  architecture: x86_64 # either x86_64 or aarch64
  packages: []
#    - lastpage
#    - enumitem
#    - beamer
#    - wrapfig
#    - moresize
#    - titlesec # section titles
#    - fontawesome # icons
#    - ntgclass # letters
#    - minted # code-hihlighting
  dependencies: []
#    - python3-pygments # needed for minted

filezilla:
  servers: []
#    - host:
#      port: 21
#      user:
#      pass:
#      name:

pyenv:
  versions: []
#    - 3.8.15
#    - 3.9.15

