fullname: "John Doe"
email: john@doe.com
user: me
group: me

samba:
  hosts:
    - host01:
      name: 192.168.1.1
      shares:
        - name: share01
          username: me
          password: me

mail:
  config_location: /path/to/config
  restore_config: True
  replace_config: False

file_browser:
  bookmarks: []

